{% extends 'index.html' %}
{% load static %}
{% block content %}

    <script src="{% static "js/links.js" %}"></script>
    <link type="text/css" href="{% static "css/links.css" %}" rel="stylesheet">


    {% include 'header.html' %}

    <div id="body" class="container">
        <div id="links" class="row ">
            <div id="feed" class="col"></div>
        </div>
    </div>


    {% include 'footer.html' %}

    <template id="feed_template">
        <a class="link text-center btn rounded "></a>
    </template>

{% endblock content %}